body {
    font-family: Inter, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
}