.second {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
    margin-bottom: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

.left-upper {
    display: flex;
    max-width: 2000px;
    max-height: 300px;
}

.left-upper img {
    display: flex;
    justify-content: start;
    align-items: start;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.left-lower {
    display: flex;
    align-items: start;
    gap: 70px;
}

.ll-left {
    font-weight: 800;
    font-size: 40px;
    margin: 0;
    width: 230px;
}

.ll-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ll-right p {
    color: hsl(0, 0%, 48%);
    margin: 0;
    font-size: 15px;
}

.ll-right button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px 63px;
    white-space: nowrap;
    background-color: hsl(5, 85%, 63%);
    color: white;
    font-family: Inter, serif;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
}

.ll-right button:hover {
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}

.right {
    display: flex;
}

.right-box {
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 100%, 5%);
    color: white;
}

.rbb {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.new {
    color: hsl(35, 77%, 62%);
    font-weight: 800;
    font-size: 30px;
    margin: 10px 0 0 0;
}

.hydro {
    display: flex;
    flex-direction: column;
}

.hydro-first {
    font-weight: 800;
    margin-bottom: 0;
    font-size: 18px;
}

.hydro-first:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.hydro-second{
    font-size: 13px;
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: #6c6c6c;
}